redis
pymongo
google-api-python-client
google-auth
google-auth-oauthlib
python-dotenv
pymupdf
flask
flask-cors

# Core dependencies
ollama
PyMuPDF
langchain-community
sentence-transformers
chromadb
numpy
pathlib
huggingface-hub
transformers
torch
langchain
langchain-chroma
langchain_huggingface

# Optional for better performance
faiss-cpu